<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--><!--[if gt IE 8]><html class="no-js" lang="en"> <![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="Rating" content="General" />
<meta name="revisit-after" content="5 Days" />
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width">
<title>Keep Austin Generous</title>
<link rel="profile" href="http://gmpg.org/xfn/11">
<script src="/jscripts/base/modernizr-2.5.3.min.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<link rel='stylesheet' href='/css/ie.css?ver=1.0' type='text/css' media='all' />
<![endif]-->
<meta name="generator" content="MediaStove 2.0">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<scr'+'ipt src="/jscripts/jquery-1.7.2.min.js"></scr'+'ipt>')</script>
<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="/jscripts/base/selectivizr-min.js"></script>
<![endif]--> 

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=168002926616236";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="/jscripts/contactForm.js"></script>

<link rel="stylesheet" href="http://lucidserver.com/css/jquery.twitter.css" type="text/css" media="all" />
<script type="text/javascript" src="/jscripts/jquery.twitter.js"></script>
<script type="text/javascript">//<![CDATA[
headingText="";userName="GenerousAustin";numTweets=4;slideIn=false;showHeading=false;showProfileLink=false;
//]]></script>
<script type="text/javascript" src="/jscripts/jquery.handle_twitter.js"></script>
</head>


<body class="full-width default section-  stretched " id="home">
<div id="fb-root"></div>
<div id="wrapper">
     <div id="container">

<div id="header">
     <header id="branding" role="banner">
     <div class="content">
                 <div id="top" class="clearfix">
          <div class="container">
                            
                            <div class="contact contact-bar clearfix">
					<div class="contact-bar">	<ul class="">		      <li><a href="https://www.facebook.com/KeepAustinGenerous" title="Facebook" class="ico-facebook" rel="external">Facebook</a></li>	      <li><a href="https://www.twitter.com/GenerousAustin" title="Twitter" class="ico-twitter" rel="external">Twitter</a></li>	      </ul>	</div>
                            </div><!-- END contact-bar -->
                      </div><!-- END .container  -->
                </div><!-- END #top -->
                 <div id="header_content">
                      <div class="container">
                            <div class="inner clearfix">
                                  <div class="branding">
                                       <a href="/" title="Home" class="image-logo"><img src="/files/logo.png" alt="Keep Austin Generous" /></a>
                                  </div><!-- END branding -->

          </div><!-- END .inner -->
          </div><!-- END .container -->
     </div><!-- END #header_content) -->
                 <nav id="access" role="navigation" style="display: none">
                      <div class="container ">
                      <div class="content clearfix">
                                 
	  <ul id="main-menu" class="sf-menu nav horizontal nav-default"><li class="home first">
<a href="/"><span>Home</span></a>
</li>
<li class="contact-us last">
<a href="/contact-us/"><span>Contact Us</span></a>
</li>
</ul>

                                 <form class="responsive-nav" method="post" action="#"><select class="jump-menu"><option value="" selected="selected">Navigation..</option><option value="/">Home</option><option value="/contact-us/">Contact Us</option></select></form>
                            </div><!-- END .content -->
      </div><!-- END .container -->
    </nav><!-- END #access -->
     </div><!-- END .content) -->
     </header><!-- END #branding -->
</div><!-- END #header -->
	
<!-- ===================================== END HEADER / START FEATURED OR CONTENT ===================================== -->



<!-- MAIN (start) -->
    
<div id="main" class="full-width">
      <div class="main-inner">
           <div class="main-content">


<!-- CONTENT (start) -->
<div id="sidebar_layout">
     <div class="layout-inner clearfix">
           <div id="content" role="main" class="clearfix">
                <div class="inner">
		  



  <p>Keep Austin Generous provides fun, engaging, inclusive opportunities for Central Texans to support their favorite causes, everyday.</p>


      <div class="contact-bar">
	<ul class="">
	  
	<li><a href="https://www.facebook.com/KeepAustinGenerous" title="Facebook" class="ico-facebook" rel="external">Facebook</a></li>
	<li><a href="https://www.twitter.com/GenerousAustin" title="Twitter" class="ico-twitter" rel="external">Twitter</a></li>
	</ul>
      </div><fb:like href="https://www.facebook.com/KeepAustinGenerous" send="true" width="450" show_faces="false"></fb:like>
                </div><!-- END .inner -->
           </div><!-- END #content -->
      </div><!-- END .layout-inner -->
</div><!-- END #sidebar_layout-->
	  
<!-- ===================================== END CONTENT ===================================== -->
		  


	</div><!-- END .main-content -->
      </div><!-- END .main-inner -->
    </div><!-- END #main) -->
    
<!-- ===================================== END MAIN ===================================== -->
<!-- ===================================== END BOTTOM LAYOUT ===================================== -->

<div id="footerContent">
       <footer id="foot" role="contentinfo">
      <div class="content">
      <div class="footer_content">
      <div class="container">
           <div class="content clearfix">   
                               
<div class="overflow last first element featured-element element-sidebar">
     <div class="element-inner">
           <div class="element-inner-wrap clearfix">

<div class="twitter-feed first column grid_4 sidebar widget-twitter ">
     <aside class="widget">
           <div class="inner">
          <h3 class="widget-title">Twitter Feed</h3>
          <div id="twitter"></div>
           </div>
     </aside>
</div>
<div class="our-goals column grid_4 sidebar widget-TextBlock">
     <aside class="widget">
           <div class="inner">
          <h3 class="widget-title">Our Goals</h3>
          
	    <ul>
    <li>Make Austin the most philanthropic city, per capita, in the United States</li>
    <li>Support every Central Texas nonprofit &#8211; all 6,000 of them &#8211; while showcasing our regional, national, and international giving</li>
    <li>Engage every member of our community &#8211; young or old, rich or poor &#8211; in philanthropy</li>
    <li>Celebrate corporate citizenry</li>
    <li>Promote philanthropic collaboration with local, forward-thinking, visionary individuals, businesses, nonprofits, and municipalities</li>
  </ul>

           </div>
     </aside>
</div>

<div class="stay-in-touch last column grid_4 widget-contactForm">
     <aside class="widget">
           <div class="inner">
     <h3 class="widget-title">Stay In Touch</h3>
     
     <div class="custom clearfix">
  <div id="form_holder_contact"></div><div id="form_container_contact"><form id="myForm_contact" method="post" action="/index.php" onsubmit="checkform(this);return false"><fieldset class="hiddenInputs"><input id="contactFormName" type="hidden" value="contactForm" name="contactFormName" /><input type="hidden" value="name,email" name="required" id="required"/><input type="hidden" value="SendContact" name="Option" id="Option" /><input type="hidden" value="contactForm" name="msgType" id="msgType" /><input type="hidden" value="406" name="admid" id="admid" /><input type="hidden" value="yes" name="isWidget" id="isWidget" /><input type="hidden" value="" name="pageMenu" id="pageMenu" /><input type="hidden" value="" name="p" id="p" /></fieldset>
	    <div class="oneField" data-role="fieldcontain"><label for="name">Your Name <span style="color:red">*</span></label><input type="text" name="name" value="" class="text text" id="name" /></div>
	    <div class="oneField" data-role="fieldcontain"><label for="email">Your Email <span style="color:red">*</span></label><input type="text" name="email" value="" class="text text" id="email" /></div>
	    <div class="oneField" data-role="fieldcontain"><label for="yourmessage">Your Message:</label><textarea rows="10" name="yourmessage" id="yourmessage" class="textarea"></textarea></div>
  <fieldset>
	    <div class="oneField captcha"><label>Please confirm that you are human by answering this simple math problem 4 + 7 =  </label><input type="text" name="humanAnswer" class="text" /></div>		    <div class="oneField" data-role="fieldcontain"><span class="submit"><input type="submit" value="Send " class="submit button black buton-small" name="btnSend_contact" id="btnSend_contact" /></span></div>
  </fieldset>
  </form></div>
</div>
<!-- ##[0]## -->
</div>
     </aside>
           </div>

           </div>
     </div>
</div><!-- END .element-sidebar-->

                             </div><!-- END .content -->
      </div><!-- END .container -->
                  </div><!-- END .footer_content -->

      </div><!-- END .content -->
      </footer><!-- END #foot-->
</div><!-- END #footerContent -->
           <div id="credits">
            <div class="container">
           <div class="content">
	   <p><span>design &copy; 2012
                                   <a href="http://www.lucidcrew.com">lucid crew</a></span>
                                   </p>
           </div><!-- END .content  -->
           </div><!-- END .container) -->
      </div><!-- END #credits -->   
<!-- end FOOTER -->
  
      </div><!-- END #container -->
</div><!-- END #wrapper -->
<script type="text/javascript" src="/jscripts/jquery.media.js"></script>
<script type="text/javascript" src="/jscripts/base/jquery.prettyphoto.js"></script>
<script type="text/javascript" src="/jscripts/base/superfish.js"></script>
<script type="text/javascript" src="/jscripts/base/custom.js"></script>
<script type="text/javascript" src="http://use.typekit.com/sba6mhz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body></html>

